<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
	<system.webServer>
	  <handlers>
		<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
	  </handlers>
	  <aspNetCore processPath="dotnet" arguments=".\Legal.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		<environmentVariables>
		  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
		  <environmentVariable name="AMS_AZURE_OPENAI_ENDPOINT" value="https://agencybinder-1226-resource.cognitiveservices.azure.com/" />
		  <environmentVariable name="AMS_AZURE_OPENAI_KEY" value="REPLACE_WITH_YOUR_84_CHAR_KEY" />
		</environmentVariables>
	  </aspNetCore>
	</system.webServer>
  </location>
</configuration>
