<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
	<system.webServer>
	  <handlers>
		<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
	  </handlers>
	  <aspNetCore processPath="dotnet" arguments=".\Legal.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		<environmentVariables>
		  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			<environmentVariable name="Security__ActingIdentity__SharedSecret" value="UhdtnkJVwBWzw8m7Y73PF6U6Cg1Q+mIkA6Gz/vbrI92szuhk2ANYr1N0kfeQ4Z+2BcDa/WN+kk+XX4U6Qa7+4A==" />
		</environmentVariables>
	  </aspNetCore>
	</system.webServer>
  </location>
</configuration>
